.do-section{	
	min-height: 945px;
	@include flex(row, space-around);	
}

.do-section__divider{
	width: 1160px;
	fill: $light-grey;
	transform: translate(0%, -60%);
	
	@media screen and (max-width: 1024px){
		width: 0px;	
	}
}

.do-content{
	@include content-width();
	@include flex(row, space-between);	
	min-height: 750px;
	transform: translate(0%, -14.5%);

	@media screen and (max-width: 1024px){
		transform: translate(0%, 0%);
		padding-top: 50px;
	}
}

/* Menu header with logo and title */
.do-header{	
	width: 100%;	
	background-color: #ffffff;
	@include flex(row, center);

	@media screen and (max-width: 1024px){		
		margin-bottom: 70px;
	}

	@media screen and (max-width: 720px){		
		flex-direction: column;
		text-align: center;	
	}
}

.do-header__logo{
	@include size(131px, 115px);
	@include background('we-do-logo.png');
	transform: translate(-25%, 0%);	

	&:before{
		@include absolute();
		@include size(27px, 27px);		
		border: 4px solid #ff5c26;
		border-radius: 50%;
		transform: translate(44px, 27.5px) scale(1);
		animation: target-1 2.5s infinite linear;
		opacity: 0;
	}

	@keyframes target-1{
		0%{
			transform: translate(44px, 27.5px) scale(1);
		}

		80%{
			border-color: #527ca6;
			opacity: .7;
		}		
	
		100%{
			transform: translate(44px, 27.5px) scale(1.9);
			border-color: #527ca6;	
		}	
	}

	&:after{
		@include absolute();
		@include size(60px, 60px);		
		border: 4px solid #527ca6;
		border-radius: 50%;
		transform: translate(27px, 10px) scale(1);
		animation: target-2 2s infinite linear;
		opacity: 0;
	}

	@keyframes target-2{
		0%{
			transform: translate(27px, 10px) scale(1);
		}	

		70%{		
			border-color: #444444;
			opacity: .7;
		}			
	
		100%{
			transform: translate(27px, 10px) scale(1.3);
			border-color: #444444;
		}	
	}

	@media screen and (max-width: $no-animation){		
		&:before, &:after{
			animation: none;
		}
	}

	@media screen and (max-width: 720px){		
		transform: translate(0%, 0%);
	}
}

.do-header__logo_target{
	position: absolute;
	@include size(23px, 23px);
	border: 4px solid #ffd24d;
	opacity: 0;
	border-radius: 50%;
	transform: translate(50px, 34px) scale(1);
	animation: target-3 2s infinite linear;	

	@keyframes target-3{
		0%{
			transform: translate(50px, 34px) scale(1);
		}	

		70%{
			border-color: #ff5c26;
			opacity: .7;
		}		
	
		100%{
			transform: translate(50px, 34px) scale(2.3);
			border-color: #ff5c26;	
		}	
	}

	@media screen and (max-width: $no-animation){
		animation: none;
	}
}	

.do-header__title{
	@include title-h2();

	@include breakpoint(mobile){
		text-align: center;
	}	
}
	
.do-header__subtitle{	
	display: block;
	@include text();	
}

/* Container with do boxes */
.do-box-container{	
	@include flex(row, space-between);	
	transform: translate(0%, 15%);	
	
	&:after{
		@include absolute();
		@include size(2px, 100%);
		background-color: $light-grey;
		left: 0;
		right: 0;
		margin: 0 auto;	

		@media screen and (max-width: 1200px){		
			display: none;
		}
	}

	@media screen and (max-width: 1024px){
		@include flex(column, space-around);
		transform: translate(0%, 0%);		
	}	
}

.do-box{
	@include size(50%, auto);	
	display: flex;	
	margin-bottom: 45px;
	
	@media screen and (min-width: 1025px){
		min-height: 195px;	
		margin-bottom: 0px;
	}

	@include breakpoint(tablet){
		width: 80%;
	}

	@include breakpoint(tablet-small){
		width: 100%;
	}

	@include breakpoint(mobile){
		@include flex(column, space-around);		
	}
}

.do-box__icon{
	@include size(95px, 95px);
}

.do-box__icon_1{
	@include background('we-do-icon-1.png');
}

.do-box__icon_2{
	@include background('we-do-icon-2.png'); 

	@media screen and (min-width: 1200px){
		transform: translate(92%, 0%);
	}		
}

.do-box__icon_3{
	@include background('we-do-icon-3.png'); 
}

.do-box__icon_4{
	@include background('we-do-icon-4.png');
	
	@media screen and (min-width: 1200px){
		transform: translate(91%, -18%); 
	}	
}

.do-box__icon_5{
	@include background('we-do-icon-5.png'); 	

	@media screen and (min-width: 1200px){
		transform: translate(0%, 35%);
	}
}

.do-box__icon_6{
	@include background('we-do-icon-6.png'); 

	@media screen and (min-width: 1200px){
		transform: translate(91%, 30%);
	}
}

.do-text{
	@include size(65%, auto);
	min-height: 106px;
	transform: translate(7%, 3%);

	@include breakpoint(tablet){
		width: 70%;
	}
	
	@include breakpoint(mobile){
		width: 90%;
		transform: translate(0%, 3%);
	}
}

@media screen and (min-width: 1200px){
	.do-text_1{
		transform: translate(7%, 2%);
	}	

	.do-text_2{
		transform: translate(28%, 3%);
	}

	.do-text_3{
		transform: translate(7%, -1%);
	}	

	.do-text_4{
		transform: translate(26%, -2%);	
	}

	.do-text_5{
		transform: translate(7%, 18%);
	}	

	.do-text_6{
		transform: translate(26%, 18%);
	}	
}

.do-text__title{
	@include title-h3();
	
	@include breakpoint(mobile){
		text-align: center;
	}
}

.do-text__description{
	@include text();
	text-align: justify;
	line-height: 145%;
	transform: translate(0%, 5%);
	word-wrap: break-word;	
}