$main-grey: #6d6e71;
$light-grey: #d4d4d5;
$footer-grey: #6d6e71;
$bg-grey: #eceef4;
$footer-dark-grey: #414344;
$blue: #1faae2;
$green: #89c94f;
$yellow: #feeb75;
$orange: #fdcd0d;
$img-path: '../img';
$font: OpenSans-Regular; 	
$font-light: OpenSans-Light; 
$font-bold: OpenSans-Bold;
$no-animation: 768px; //removing any animation and hover effects on this width