<section class="do-section" id="do">		
	<svg class="do-section__divider">
      	<use xlink:href="svg/svg-sprite.svg#divide-icon"></use>
	</svg>
	<div class="do-content">

		<!-- Menu header with logo and title --> 
		<div class="do-header">
			<div class="do-header__logo">
				<span class="do-header__logo_target"></span>
			</div>
			<h2 class="do-header__title">What we do?
				<small class="do-header__subtitle">Everything you need to do business intelligence right.</small>
			</h2>
		</div>

		<!-- Container with do boxes--> 
		<div class="do-box-container">
			<div class="do-box do-box_1">
				<div class="do-box__icon do-box__icon_1"></div>
				<div class="do-text do-text_1">
					<h3 class="do-text__title">Web Design & Development</h3>
					<p class="do-text__description do-text__description_1">ISAMA Pvt. Ltd. designs and develops creative websites utilizing the latest technologies.</p>
				</div>
			</div>
			<div class="do-box do-box_2">
				<div class="do-box__icon do-box__icon_2"></div>
				<div class="do-text do-text_2">
					<h3 class="do-text__title">Mobile Applications</h3>
					<p class="do-text__description">Our Developers helps you to Design, Develop & Distribute Mobile Applications - Smarter & Faster.</p>
				</div>	
			</div>
			<div class="do-box do-box_3">
				<div class="do-box__icon do-box__icon_3"></div>
				<div class="do-text do-text_3">
					<h3 class="do-text__title do-text__title_3">Software Solutions</h3>
					<p class="do-text__description do-text__description_3">With our software for professional services and consulting firms. Grow your revenue and profit margins by assigning the right people to the right projects at the right time.</p>
				</div>	
			</div>
			<div class="do-box do-box_4">
				<div class="do-box__icon do-box__icon_4"></div>
					<div class="do-text do-text_4">
					<h3 class="do-text__title">Interior Design</h3>
					<p class="do-text__description">We offer a variety of design services ranging from Full Service Interior Design and Styling to our Design Concierge service, all of which are executed with beautiful, custom-tailored results.</p>
				</div>	
			</div>
			<div class="do-box do-box_5">
				<div class="do-box__icon do-box__icon_5"></div>
				<div class="do-text do-text_5">			
					<h3 class="do-text__title">Branding</h3>
					<p class="do-text__description do-text__description_5">We have our forte in advertising and Brand establishment. We create identities for the clients product and services in the target market.</p>
				</div>	
			</div>	
			<div class="do-box do-box_6">
				<div class="do-box__icon do-box__icon_6"></div>
				<div class="do-text do-text_6">
					<h3 class="do-text__title">SEO & Web Marketing Services</h3>
					<p class="do-text__description">We offer a variety of design services ranging from Full Service Interior Design and Styling to our Design Concierge service, all of which are executed with beautiful, custom-tailored results.</p>
				</div>	
			</div>
		</div>		
	</div>
</section>