<section class="map-section" id="contact">
	<div class="map-content">
		<div id="map"></div>		
		<div class="map-contact">
			<div class="map-contact__box_location">	
				<div class="contact-popup contact-popup__map_location">795 Almaddinah Way<br>Saudi Arabia . Alreyadah</div>
				<span class="contact-triangle contact-triangle__map_location"></span>
				<div class="map-contact__item map-contact__item_location">
					<svg class="map-contact__icon map-contact__icon_location">
      					<use xlink:href="svg/svg-sprite.svg#location-icon"></use>
					</svg>
				</div>
			</div>
			<div class="contact__box map-contact__box_email">
				<div class="contact-popup contact-popup__map_email">support@isama.com<br>info@isama.com</div>
				<span class="contact-triangle contact-triangle__map_email"></span>
				<div class="map-contact__item map-contact__item_email">
					<svg class="map-contact__icon map-contact__icon_email">
      					<use xlink:href="svg/svg-sprite.svg#email-icon"></use>
					</svg>
				</div>
			</div>
			<div class="contact__box map-contact__box_phone">	
				<div class="contact-popup contact-popup__map_phone">
					<a href="tel:+966 347 75 19">+966 347 75 19</a>					
					<a href="tel:+966 457 78 23">+966 457 78 23</a>
				</div>
				<span class="contact-triangle contact-triangle__map_phone"></span>		
				<div class="map-contact__item map-contact__item_phone">				
					<svg class="map-contact__icon map-contact__icon_phone">
      					<use xlink:href="svg/svg-sprite.svg#phone-icon"></use>
					</svg>				
				</div>
			</div>
		</div>
	</div>
</section>