<section class="projects-section" id="projects">
	<div class="projects-content">
		
		<!-- Menu header with logo and title -->
		<div class="menu-header projects-header">		
			<div class="projects-header__logo">			
				<span class="projects-header__logo_buble"></span>
			</div>
			<h2 class="projects-header__title">Our Projects
				<small class="projects-header__subtitle">Some of our awesome work. Proud of doing<br>great works for our clients.</small>
			</h2>
		</div>

		<!-- Filter buttons/navigation -->
		<nav class="projects-filter">
			<button class="projects-filter__button projects-filter__button_1" type="button" data-filter="all">All</button>
			<button class="projects-filter__button projects-filter__button_2" type="button" data-filter=".mobile_apps">Mobile Apps</button>
			<button class="projects-filter__button projects-filter__button_3" type="button" data-filter=".identities">Identities</button>
			<button class="projects-filter__button projects-filter__button_4" type="button" data-filter=".interior_design">Interior Design</button>
			<button class="projects-filter__button projects-filter__button_5" type="button" data-filter=".ui_ux">UI/UX</button>
		</nav>

		<!-- Container with project boxes -->
		<div class="projects-container js-projects-container">

			<!-- 1st box -->
			<!--'mix' - default MixItUp plugin class needed for filtering-->
			<div class="projects-box mix identities interior_design">
				<div class="projects-box__image">
					<img class="projects-box__image_1" src="img/projects-img-1.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>						
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 2nd box -->
			<div class="projects-box mix identities ui_ux mobile_apps">
				<div class="projects-box__image">
					<img class="projects-box__image_2" src="img/projects-img-2.png" alt="">
				</div>
				<div class="projects-box__info">				
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 3rd box -->
			<div class="projects-box mix identities mobile_apps">				
				<div class="projects-box__image">
					<img class="projects-box__image_3" src="img/projects-img-3.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>	
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 4th box -->
			<div class="projects-box mix identities ui_ux">				
				<div class="projects-box__image">
					<img class="projects-box__image_4" src="img/projects-img-4.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 5th box -->
			<div class="projects-box mix identities mobile_apps">				
				<div class="projects-box__image">
					<img class="projects-box__image_5" src="img/projects-img-5.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>	
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 6th box -->
			<div class="projects-box mix identities interior_design">				
				<div class="projects-box__image">
					<img class="projects-box__image_6" src="img/projects-img-6.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>	
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 7th box -->
			<div class="projects-box mix identities interior_design">				
				<div class="projects-box__image">
					<img class="projects-box__image_7" src="img/projects-img-7.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>	
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>

			<!-- 8th box -->
			<div class="projects-box mix identities ui_ux">				
				<div class="projects-box__image">
					<img class="projects-box__image_8" src="img/projects-img-8.png" alt="">
				</div>
				<div class="projects-box__info">
					<div class="projects-box__links">
						<svg class="projects-box__links-icon projects-box__links-icon_link">
							<use xlink:href="svg/svg-sprite.svg#link-icon"></use>
						</svg>								
						<div class="projects-box__links_hidden">
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_facebook">
									<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_linkedin">
									<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
								</svg>
							</a>
							<a href="">
								<svg class="projects-box__links-icon projects-box__links-icon_twitter">
									<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
								</svg>
							</a>
						</div>
					</div>	
					<a class="projects-box__more" href="">
						<svg class="projects-box__links-icon projects-box__links-icon_plus">
							<use xlink:href="svg/svg-sprite.svg#plus-icon"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>