<section class="slider-section">
	<div class="slider-wrapper" id="wowslider-container1"><!-- "wow" ids and "ws" classes - defaults used by WOWSlider -->
		<div class="slider ws_images">
			<ul class="slider-list">
				<li class="slider-list__item">
					<h1 class="slider-list__title">Let's draw some arts
						<small class="slider-list__subtitle">make your business much better</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_1">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-1.jpg" alt="1" title="" id="wows1_0">
				</li>
				<li class="slider-list__item">
					<h1 class="slider-list__title">Variety of design services
						<small class="slider-list__subtitle">beautiful, custom-tailored results</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_2">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-2.jpg" alt="2" title="" id="wows1_1">
				</li>
				<li class="slider-list__item">
					<h1 class="slider-list__title">Providing efficient solutions
						<small class="slider-list__subtitle">cutting-edge technologies</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_3">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-3.jpg" alt="3" title="" id="wows1_2">
				</li>
				<li class="slider-list__item">
					<h1 class="slider-list__title">Talent of creation
						<small class="slider-list__subtitle">modern concept of prefossionalism</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_4">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-4.jpg" alt="4" title="" id="wows1_3">
				</li>
				<li class="slider-list__item">
					<h1 class="slider-list__title">Creating the perfect image
						<small class="slider-list__subtitle">presenting you to the world</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_5">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-5.jpg" alt="5" title="" id="wows1_4">
				</li>
				<li class="slider-list__item">
					<h1 class="slider-list__title">Let's draw some arts
						<small class="slider-list__subtitle">make your business much better</small>
					</h1>
					<svg class="slider-list__icon slider-list__icon_6">
      					<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      				</svg>
					<img src="img/slide-6.jpg" alt="6" title="" id="wows1_5">
				</li>
			</ul>
		</div>

		<!-- Thumbnails -->
		<div class="slider-thumbnails-wrapper ws_thumbs">
			<div class="slider-thumbnails">
				<a class="slider-thumbnails__link slider-thumbnails__link_1" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-1.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_1">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_1">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
				<a class="slider-thumbnails__link slider-thumbnails__link_2" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-2.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_2">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_2">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
				<a class="slider-thumbnails__link slider-thumbnails__link_3" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-3.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_3">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_3">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
				<a class="slider-thumbnails__link slider-thumbnails__link_4" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-4.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_4">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_4">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
				<a class="slider-thumbnails__link slider-thumbnails__link_5" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-5.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_5">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_5">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
				<a class="slider-thumbnails__link slider-thumbnails__link_6" href="#">
					<img class="slider-thumbnails__image" src="img/slide-tn-6.jpg" alt="">
					<span class="slider-thumbnails__like-line slider-thumbnails__like-line_6">
						<svg class="slider-thumbnails__icon slider-thumbnails__icon_6">
      						<use xlink:href="svg/svg-sprite.svg#heart-icon"></use>
      					</svg>
      					Like
					</span>
				</a>
			</div>
		</div>

		<!-- Static block -->
		<div class="slider-static">
			<h1 class="slider-static__title">Let's draw some arts
				<small class="slider-static__subtitle">make your business much better</small>
			</h1>
			<svg class="slider-static__icon">
      			<use xlink:href="svg/svg-sprite.svg#and-icon"></use>
      		</svg>
		</div>
	</div>
</section>	