<section class="team-section" id="team">
	<div class="team-content">

		<!-- Menu header with logo and title -->
		<div class="team-header">
			<div class="team-header__logo">
				<div class="team-header__speaker">
					<p class="team-header__hello">Hello there!</p>
				</div>
				<div class="team-header__triangle"></div>
			</div>
			<h2 class="team-header__title">Meet Our Team
				<small class="team-header__subtitle">We have highly qualified staff with distinguished significant<br>experiences in their field who work under pressure.</small>	
			</h2>
		</div>

		<!-- Team boxes with staff -->		
		<div class="team-box-container">
			<div class="team-box">
				<img class="team-box__image" src="img/team-img-1.png" alt="">
				<p class="team-box__name">Tamer</p>
				<p class="team-box__position">Senior Software Engineer</p>
				<div class="team-box__social-media">
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#instagram-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="team-box">
				<img class="team-box__image" src="img/team-img-2.png" alt="">
				<p class="team-box__name">Hazem</p>
				<p class="team-box__position">PHP Developer</p>
				<div class="team-box__social-media">
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#instagram-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="team-box">
				<img class="team-box__image" src="img/team-img-3.png" alt="">
				<p class="team-box__name">Mohammed</p>
				<p class="team-box__position">PHP Developer</p>
				<div class="team-box__social-media">
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#instagram-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="team-box">
				<img class="team-box__image" src="img/team-img-4.png" alt="">
				<p class="team-box__name">Ahmed</p>
				<p class="team-box__position">UI/UX Designer</p>
				<div class="team-box__social-media">
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#instagram-icon"></use>
						</svg>
					</a>
					<a class="team-box__social-media-link" href="">
						<svg class="team-box__social-media-link-icon">
      						<use xlink:href="svg/svg-sprite.svg#linkedin-icon"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>