<section class="top-section js-top-section" id="home">

<!-- Top bar with Options list (Blog, Jobs, Support, Arabic) & Social Media list -->
	<div class="top-bar-content js-top-bar">
		<div class="top-bar">

			<!-- Options list (Blog, Jobs, Support, Arabic) -->
			<ul class="top-options">
				<li class="top-options__item">
					<svg class="top-options__icon top-options__icon_blog">
      					<use xlink:href="svg/svg-sprite.svg#blog-icon"></use>
					</svg>
					<a class="top-options__link top-options__link_blog" href="">Blog</a>
				</li>
				<li class="top-options__item">
					<svg class="top-options__icon top-options__icon_jobs">
      					<use xlink:href="svg/svg-sprite.svg#jobs-icon"></use>
					</svg>					
					<a class="top-options__link top-options__link_jobs" href="">Jobs</a>
				</li>
				<li class="top-options__item">
					<svg class="top-options__icon top-options__icon_support">
      					<use xlink:href="svg/svg-sprite.svg#support-icon"></use>
					</svg>
					<a class="top-options__link top-options__link_support" href="">Support</a>
				</li>
				<li class="top-options__item top-options__item_4">
					<svg class="top-options__icon top-options__icon_arabic">
      					<use xlink:href="svg/svg-sprite.svg#arabic-icon"></use>
					</svg>
					<a class="top-options__link top-options__link_arabic" href="">Arabic</a>
				</li>
			</ul>

			<!-- Social Media list -->
			<ul class="social-media top-social-media">
				<li class="social-media__item social-media__item_facebook top-social-media__item_facebook">
					<a href="">
						<svg class="social-media__icon top-social-media__icon_facebook">
      						<use xlink:href="svg/svg-sprite.svg#facebook-icon"></use>
						</svg>
					</a>
				</li>
				<li class="social-media__item social-media__item_twitter top-social-media__item_twitter">
					<a href="">
						<svg class="social-media__icon top-social-media__icon_twitter">
      						<use xlink:href="svg/svg-sprite.svg#twitter-icon"></use>
						</svg>
					</a>
				</li>
				<li class="social-media__item social-media__item_instagram top-social-media__item_instagram">
					<a href="">
						<svg class="social-media__icon top-social-media__icon_instagram">
      						<use xlink:href="svg/svg-sprite.svg#instagram-icon"></use>
						</svg>
					</a>
				</li>
				<li class="social-media__item social-media__item_google top-social-media__item_google">
					<a href="">
						<svg class="social-media__icon top-social-media__icon_google">
      						<use xlink:href="svg/svg-sprite.svg#google-icon"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>	

	<!-- Top info with Logo and Contact info boxes -->
	<div class="top-info-content js-top-info">	
		<div class="top-info">

			<!-- Logo -->
			<div class="top-logo">
				<div class="top-logo__title">logo</div>
				<div class="top-logo__box top-logo__box_1"></div>
				<div class="top-logo__box top-logo__box_2"></div>
				<div class="top-logo__box top-logo__box_3"></div>
				<div class="top-logo__box top-logo__box_4"></div>
				<div class="top-logo__box top-logo__box_5"></div>
				<div class="top-logo__box top-logo__box_6"></div>
				<div class="top-logo__box top-logo__box_7"></div>
				<div class="top-logo__box top-logo__box_8"></div>
				<div class="top-logo__box top-logo__box_9"></div>
				<div class="top-logo__box top-logo__box_10"></div>
				<div class="top-logo__box top-logo__box_11"></div>
				<div class="top-logo__box top-logo__box_12"></div>
				<div class="top-logo__box top-logo__box_13"></div>
				<div class="top-logo__box top-logo__box_14"></div>
				<div class="top-logo__box top-logo__box_15"></div>
				<div class="top-logo__box top-logo__box_16"></div>
				<div class="top-logo__box top-logo__box_17"></div>
				<div class="top-logo__box top-logo__box_18"></div>
				<div class="top-logo__box top-logo__box_19"></div>
				<div class="top-logo__box top-logo__box_20"></div>
				<div class="top-logo__box top-logo__box_21"></div>
				<div class="top-logo__box top-logo__box_22"></div>
				<div class="top-logo__box top-logo__box_23"></div>
				<div class="top-logo__box top-logo__box_24"></div>
				<div class="top-logo__box top-logo__box_25"></div>
				<div class="top-logo__box top-logo__box_26"></div>
				<div class="top-logo__box top-logo__box_27"></div>
				<div class="top-logo__box top-logo__box_28"></div>
				<div class="top-logo__box top-logo__box_29"></div>
				<div class="top-logo__box top-logo__box_30"></div>
				<div class="top-logo__box top-logo__box_31"></div>
				<div class="top-logo__box top-logo__box_32"></div>
				<div class="top-logo__box top-logo__box_33"></div>
				<div class="top-logo__box top-logo__box_34"></div>
				<div class="top-logo__box top-logo__box_35"></div>
				<div class="top-logo__box top-logo__box_36"></div>
				<div class="top-logo__box top-logo__box_37"></div>
				<div class="top-logo__box top-logo__box_38"></div>
				<div class="top-logo__box top-logo__box_39"></div>
			</div>		

			<!-- Contact boxes -->
			<div class="top-contact">
			
				<!-- Phone box -->
				<div class="top-contact__box_phone">	
					<div class="contact-popup contact-popup__top_phone">
						<a href="tel:+966 347 75 19">+966 347 75 19</a>
					</div>
					<span class="contact-triangle contact-triangle__top_phone"></span>		
					<div class="top-contact__item top-contact__item_phone">				
						<svg class="top-contact__icon top-contact__icon_phone">
      						<use xlink:href="svg/svg-sprite.svg#phone-icon"></use>
						</svg>				
					</div>
				</div>

				<!-- Location box -->
				<div class="top-contact__box_location">		
					<div class="contact-popup contact-popup__top_location">Saudi Arabia . Alreyadah</div>
					<span class="contact-triangle contact-triangle__top_location"></span>
					<div class="top-contact__item top-contact__item_location">
						<svg class="top-contact__icon top-contact__icon_location">
      						<use xlink:href="svg/svg-sprite.svg#location-icon"></use>
						</svg>
					</div>
				</div>

				<!-- Email box -->
				<div class="top-contact__box_email">
					<div class="contact-popup contact-popup__top_email">support@isama.com</div>
					<span class="contact-triangle contact-triangle__top_email"></span>
					<div class="top-contact__item top-contact__item_email">
						<svg class="top-contact__icon top-contact__icon_email">
      						<use xlink:href="svg/svg-sprite.svg#email-icon"></use>
						</svg>
					</div>
				</div>				
			</div>
		</div>
	</div>	

	<!-- Header with navigation, search, burger menu and back-to-top button -->
	<div class="top-header-content">
		<header class="top-header js-top-header">	

			<!-- Mobile burger menu -->
			<div class="top-header_mobile js-top-header_mobile">
				<div class="top-header__burger js-top-header__burger"></div>
				<a href="top-header__burger-logo"></a>
			</div>

			<!-- Rest of the header -->
			<nav class="top-nav js-top-nav" id="header-nav">
				<li class="top-nav__item_home">
					<a class="top-nav__link js-top-nav__link top-nav__link_home top-nav__item_active" href="#home">Home</a>
				</li>
				<li class="top-nav__item_about">
					<a class="top-nav__link js-top-nav__link top-nav__link_about" href="#about">What about ISAMA</a>
				</li>
				<li class="top-nav__item_do">
					<a class="top-nav__link js-top-nav__link top-nav__link_do" href="#do">What we do?</a>
				</li>
				<li class="top-nav__item_projects">
					<a class="top-nav__link js-top-nav__link top-nav__link_projects" href="#projects">Our Projects</a>
				</li>
				<li class="top-nav__item_team">
					<a class="top-nav__link js-top-nav__link top-nav__link_team" href="#team">Excellent Team</a>
				</li>
				<li class="top-nav__item_contact">
					<a class="top-nav__link js-top-nav__link top-nav__link_contact" href="#contact">Contact</a>
				</li>
			</nav>

			<!-- Search -->
			<form class="top-search js-top-search">
				<svg class="top-search__icon js-top-search__icon">
      				<use xlink:href="svg/svg-sprite.svg#search-icon"></use>
				</svg>
				<input class="top-search__input js-top-search__input" type="search" placeholder="Type your search words">
			</form>
		</header>
	</div>
	
	<!-- Back to top button -->
	<button class="top-button js-top-button">
		<span class="to-top-arrow"></span>
	</button>
</section>